---
# Only the main Sass file needs front matter (the dashes are enough)
---
$text-color: #f0e7d5;
$background-color: #252525;
$brand-color: deeppink;

@import "minima";

kbd {
    border-radius: 0.25rem;
    border: 1px solid $text-color;
    box-shadow: inset 0 -1px 0 $text-color;
    display: inline-block;
    font-size: 0.75rem;
    line-height: 10px;
    padding: 0.25rem;
    vertical-align: middle;
}

.PageNavigation {
  display: block;
  font-size: $small-font-size;
  overflow: hidden;
  width: auto;

  a {
    display: block;
    float: left;
    margin: 1em 0;
    width: 50%;
  }
  .next {
    text-align: right;
  }
}

div.notice {
  border: 1px solid $brand-color;
  margin-bottom: 24pt;
  width: 100%;
  #left, #right {
    display: inline-block;
    padding: 6pt;
    vertical-align: top;
  }
  #left {
    background: $brand-color;
    color: white;
    font-weight: bold;
  }
  #right {
    color: black;
  }
}

details {
  margin-block-end: $base-font-size;
  border: calc(#{$base-font-size} / 4) solid $text-color;
  border-radius: calc(#{$base-font-size} / 2);
  padding: calc(#{$base-font-size} / 2);

  summary {
    cursor: pointer;
  }

  *:last-child {
    margin-bottom: 0px;
  }
}
